<!-- Course section -->
<section class="course">
  <div class="course__container">
    <h2 class="course__heading">Our Popular Courses</h2>

    <div class="owl-carousel owl-carousel-course owl-theme">
      <div class="owl-carousel__item">
        <img class="course__image" src="./images/course-04.jpg" alt="" />
        <h4 class="owl-carousel__heading">Please visit our website again</h4>
        <div class="owl-carousel__footer">
          <ul class="course__lists">
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
          </ul>
          <span>$270</span>
        </div>
      </div>

      <div class="owl-carousel__item">
        <img class="course__image" src="./images/course-03.jpg" alt="" />
        <h4 class="owl-carousel__heading">
          Morbi in libero blandit lectus cursus
        </h4>
        <div class="owl-carousel__footer">
          <ul class="course__lists">
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
          </ul>
          <span>$400</span>
        </div>
      </div>

      <div class="owl-carousel__item">
        <img class="course__image" src="./images/course-02.jpg" alt="" />
        <h4 class="owl-carousel__heading">
          Download Free CSS Layouts for your business
        </h4>
        <div class="owl-carousel__footer">
          <ul class="course__lists">
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
          </ul>
          <span>$500</span>
        </div>
      </div>

      <div class="owl-carousel__item">
        <img class="course__image" src="./images/course-01.jpg" alt="" />
        <h4 class="owl-carousel__heading">Responsive HTML Templates for you</h4>
        <div class="owl-carousel__footer">
          <ul class="course__lists">
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
          </ul>
          <span>$120</span>
        </div>
      </div>

      <div class="owl-carousel__item">
        <img class="course__image" src="./images/course-03.jpg" alt="" />
        <h4 class="owl-carousel__heading">Responsive HTML Templates for you</h4>
        <div class="owl-carousel__footer">
          <ul class="course__lists">
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
          </ul>
          <span>$120</span>
        </div>
      </div>

      <div class="owl-carousel__item">
        <img class="course__image" src="./images/course-04.jpg" alt="" />
        <h4 class="owl-carousel__heading">Responsive HTML Templates for you</h4>
        <div class="owl-carousel__footer">
          <ul class="course__lists">
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
          </ul>
          <span>$120</span>
        </div>
      </div>

      <div class="owl-carousel__item">
        <img class="course__image" src="./images/course-03.jpg" alt="" />
        <h4 class="owl-carousel__heading">Responsive HTML Templates for you</h4>
        <div class="owl-carousel__footer">
          <ul class="course__lists">
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
          </ul>
          <span>$120</span>
        </div>
      </div>

      <div class="owl-carousel__item">
        <img class="course__image" src="./images/course-02.jpg" alt="" />
        <h4 class="owl-carousel__heading">Responsive HTML Templates for you</h4>
        <div class="owl-carousel__footer">
          <ul class="course__lists">
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
          </ul>
          <span>$120</span>
        </div>
      </div>

      <div class="owl-carousel__item">
        <img class="course__image" src="./images/course-01.jpg" alt="" />
        <h4 class="owl-carousel__heading">Responsive HTML Templates for you</h4>
        <div class="owl-carousel__footer">
          <ul class="course__lists">
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
            <i class="icon fa fa-star"></i>
          </ul>
          <span>$120</span>
        </div>
      </div>
    </div>
  </div>
</section>
