<!-- Facts section -->
<section class="facts">
  <div class="container">
    <h2 class="fact__heading">A Few Facts About Our University</h2>
    <div class="grid-container">
      <div class="fact__divs grid-item item1">
        <div class="fact__div succed-students percentage">
          <div class="count-digit counter-loaded">94</div>
          <div class="count-title">Succesed Students</div>
        </div>
      </div>
      <div class="fact__divs grid-item item2">
        <div class="fact__div new-students">
          <div class="count-digit counter-loaded">2345</div>
          <div class="count-title">New Students</div>
        </div>
      </div>
      <div class="fact__divs grid-item item3">
        <div class="fact__div current-teachers">
          <div class="count-digit counter-loaded">126</div>
          <div class="count-title">Current Teachers</div>
        </div>
      </div>
      <div class="fact__divs grid-item item4">
        <div class="fact__div awards">
          <div class="count-digit counter-loaded">32</div>
          <div class="count-title">Awards</div>
        </div>
      </div>
      <div class="fact__divs grid-item item5">
        <div class="fact-container2__video">
          <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank">
            <img src="./images/play-icon.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
