<!-- Form section -->
<section class="form">
  <div class="container">
    <div class="grid-container">
      <div class="grid-item item1">
        <div class="form-div">
          <h2 class="form__heading">Let's get in touch</h2>
          <form action method="post">
            <p>
              <input
                name="name"
                type="text"
                id="name"
                placeholder="YOURNAME...*"
                required=""
              />
            </p>
            <p>
              <input
                name="email"
                type="text"
                id="email"
                pattern="[^ @]*@[^ @]*"
                placeholder="YOUR EMAIL..."
                required=""
              />
            </p>
            <p>
              <input
                name="subject"
                type="text"
                id="subject"
                placeholder="SUBJECT...*"
                required=""
              />
            </p>
            <p class="full-width">
              <textarea
                name="message"
                type="text"
                class="form-control"
                id="message"
                placeholder="YOUR MESSAGE..."
                required=""
              ></textarea>
            </p>
            <p class="full-width">
              <button
                type="submit"
                id="form-submit"
                class="btn btn--accent full"
              >
                SEND MESSAGE NOW
              </button>
            </p>
          </form>
        </div>
      </div>
      <div class="grid-item item2">
        <div class="right-info">
          <div class="right-info__container">
            <ul class="right-info__list">
              <li>
                <h6>Phone Number</h6>
                <span>010-020-0340</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>info@meeting.edu</span>
              </li>
              <li>
                <h6>Street Address</h6>
                <span>Rio de Janeiro - RJ, 22795-008, Brazil </span>
              </li>
              <li class="last-list">
                <h6>Website Url</h6>
                <span>WWW.meeting.edu</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
