<!-- Meeting section -->
<section class="meeting">
  <div class="container">
    <h2 class="meeting__header">UPCOMING MEETINGS</h2>
    <div class="grid-container">
      <div class="meeting-categories grid-item item1">
        <header class="meeting-categories__header">
          <h4>Meeting Categories</h4>
        </header>
        <div class="meeting-categories__content">
          <ul class="list list--inline">
            <li class="list__item"><a>tempus enim leo</a></li>
            <li class="list__item"><a>Aenean molestie quis</a></li>
            <li class="list__item"><a>Nam et condimentum</a></li>
            <li class="list__item">
              <a>Item 3Cras et metus vestibulum</a>
            </li>
            <li class="list__item"><a>Phasellus nec sapien</a></li>
          </ul>
        </div>
        <footer class="meeting-categories__footer">
          <button class="btn btn--accent">all ucomming meetings</button>
        </footer>
      </div>

      <div class="category grid-item item2">
        <img class="category__image" src="images/meeting-01.jpg" alt="" />
        <span class="category__imagespan">$22.00</span>
        <div class="category__caption">
          <div class="category__date">
            <h6>NOV</h6>
            <span>10</span>
          </div>
          <div class="category__content">
            <a class="category__link" href="#">
              <h4>New Lecturers Meeting</h4>
            </a>
            <p>
              Morbi in libero blandit lectus <br />
              cursus ullamcorper.
            </p>
          </div>
        </div>
      </div>

      <div class="category grid-item item3">
        <img class="category__image" src="images/meeting-02.jpg" alt="" />
        <span class="category__imagespan">$36.00</span>
        <div class="category__caption">
          <div class="category__date">
            <h6>NOV</h6>
            <span>10</span>
          </div>
          <div class="category__content">
            <a class="category__link" href="#">
              <h4>Online Teaching Techniques</h4>
            </a>
            <p>
              Morbi in libero blandit lectus <br />
              cursus ullamcorper.
            </p>
          </div>
        </div>
      </div>

      <div class="category grid-item item4">
        <img class="category__image" src="images/meeting-03.jpg" alt="" />
        <span class="category__imagespan">$14.00</span>
        <div class="category__caption">
          <div class="category__date">
            <h6>NOV</h6>
            <span>10</span>
          </div>
          <div class="category__content">
            <a class="category__link" href="#">
              <h4>Higher Education Conference</h4>
            </a>
            <p>
              Morbi in libero blandit lectus <br />
              cursus ullamcorper.
            </p>
          </div>
        </div>
      </div>

      <div class="category grid-item item5">
        <img class="category__image" src="images/meeting-04.jpg" alt="" />
        <span class="category__imagespan">$48.00</span>
        <div class="category__caption">
          <div class="category__date">
            <h6>NOV</h6>
            <span>10</span>
          </div>
          <div class="category__content">
            <a class="category__link" href="#">
              <h4>Student Training Meetup</h4>
            </a>
            <p>
              Morbi in libero blandit lectus <br />
              cursus ullamcorper.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
