<!-- Service section -->
<section class="services">
  <div class="service-container">
    <div class="owl-carousel owl-theme">
      <div class="owl-carousel__item">
        <div class="icon__item">
          <img src="images/service-icon-01.png" alt="" />
        </div>
        <div class="owl-carousel__content">
          <h2>Best Education</h2>
          <p>
            Suspendisse tempor mauris a sem elementum bibendum. Praesent
            facilisis massa non vestibulum.
          </p>
        </div>
      </div>
      <div class="owl-carousel__item">
        <div class="icon__item">
          <img src="images/service-icon-02.png" alt="" />
        </div>
        <div class="owl-carousel__content">
          <h2>Best Networking</h2>
          <p>
            Suspendisse tempor mauris a sem elementum bibendum. Praesent
            facilisis massa non vestibulum.
          </p>
        </div>
      </div>
      <div class="owl-carousel__item">
        <div class="icon__item">
          <img src="images/service-icon-03.png" alt="" />
        </div>
        <div class="owl-carousel__content">
          <h2>Best Teachers</h2>
          <p>
            Suspendisse tempor mauris a sem elementum bibendum. Praesent
            facilisis massa non vestibulum.
          </p>
        </div>
      </div>
      <div class="owl-carousel__item">
        <div class="icon__item">
          <img src="images/service-icon-03.png" alt="" />
        </div>
        <div class="owl-carousel__content">
          <h2>Online Meeting</h2>
          <p>
            Suspendisse tempor mauris a sem elementum bibendum. Praesent
            facilisis massa non vestibulum.
          </p>
        </div>
      </div>
      <div class="owl-carousel__item">
        <div class="icon__item">
          <img src="images/service-icon-01.png" alt="" />
        </div>
        <div class="owl-carousel__content">
          <h2>Best Education</h2>
          <p>
            Suspendisse tempor mauris a sem elementum bibendum. Praesent
            facilisis massa non vestibulum.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
